{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{%block content %}
<br>
<div class="container">
    <div class="card">
        <div class="card-body">
            {% bootstrap_messages %}
            <form action="{% url 'edit_cli' clientes.idcliente%}" method="post" autocomplete="off">      
                {% csrf_token %}
                {% bootstrap_form form %}         
                <button type="submit" class="btn btn-outline-success"> Salvar </button>
            </form>
        </div>
      </div>
</div>
{%endblock %}
