{% extends 'base.html' %}
{% load static %}

{% block title %}Veiculos{% endblock %}

{%block content %}
    <br>

    <div class="container">
        <div class="card">
            <h5 class="card-header">Lista de Veiculos</h5>
            <div class="card-body">
                <table id="teste" class="table">
                    <thead class="thead-light">
                        <tr >
                            <th scope="col">Nome</th>
                            <th scope="col">Fabricante</th>
                            <th scope="col">Ano</th>
                            <th scope="col">Valor Diária</th>
                            <th scope="col">Tipo Combustivel</th>
                            <th scope="col">Capacidade do tanque</th>
            
                        </tr>
                    </thead>
                    <tbody>
                        {% for veiculo in veiculos %}
                        <tr >
                            <td  > {{veiculo.nome}} </td>
                            <td > {{veiculo.fabricante}} </td>
                            <td > {{veiculo.anoveiculo}} </td>
                            <td > R$ {{veiculo.diaria.valor}} </td>
                            <td >{{veiculo.tipocombustivel}} </td>
                            <td >{{veiculo.capacidadetanque}} litros</td>
                            <td>{{veiculo.quantidade}} </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
          </div>
    </div>

    <script>
        $(document).ready(function() {
        $('teste').DataTable();
        } );
    </script>
    
{%endblock %}